* {margin: 0; padding: 0}
/*nav and footer styles*/
nav, footer {
    clear: both;
    height: 3em;
    color: #ffffff;
    background-color: #707070;
}

nav ul {
    padding: 0.325em 0em 0.325em 2em;
}

nav li {
    display: inline;
    margin-right: 1.5em;
}

nav li a {
    color: #ffffff;
}
nav li a:hover, nav li current {
    color: #000000;
}

.mainContent {
  margin: auto;
  width: 50%;
  padding-top: 10%;
  padding-bottom: 10%
}

.loginBar {
  float: left;
  width: 25%;
}

label {
  width: 70px;
  text-align: right;
}

th, td {
  font-size: 12px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  background-color: inherit;
}

.floatLeft{
  float: left;
}

/*TODO change px to em or decide on other form of sizing*/
/*button styles*/
.button {
  margin: auto;
  display:inline-block;
  width: 300px;
  height: 100px;
  text-align: center;
  /*button font style*/
  color: rgba(0, 0, 0, 0.55);
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: #707070;
  background: linear-gradient(top, #707070, #000000);
  /*box-shadow: 0 8px 0 #000000;*/
  font: bold 1.6em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
a.button {
  text-decoration: none;
}

a.button:hover {
  background: #202020;
}

body {
  background-color: #EBEDED
}

footer {
  position: relative;
  border: 0.5em;
  right: 0;
  left: 0;
  bottom: -50;
  text-align: center;
}

@media (max-width: 1004px) {
  .loginBar {
    float:none;
  }

  .button{

  }
}
